<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    li{
        list-style: none;
    }
</style>
<body>
    <center>
    <div class="row">
        <div class=""></div>
        <div class="col-lg-4">
            <h1>You Searched For - download : <%= data.userQuery %></h1>
            <ul>
                <li>Home</li>
                <li>Contact</li>
                <li>About</li>
            </ul>
        </div>
    </div></center>
    
</body>
</html>

<!-- ejs syntax -->
<%= %>